<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caja Registradora</title>
    <link rel="stylesheet" href="css/cajaStyles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="pos-body">
            <div class="left-side">
                <div class="ls-header">
                    <h2 class="mb-0">POINT OF SELL (POS) - <span class="text-muted font-weight-light">My Store</span> </h2>
                    <h6 class="text-muted">Location ID#iss252</h6>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-allitems-tab" data-bs-toggle="tab" data-bs-target="#nav-allitems" type="button" role="tab" aria-controls="nav-allitems" aria-selected="true">All items</button>
                        <button class="nav-link" id="nav-food-tab" data-bs-toggle="tab" data-bs-target="#nav-food" role="tab" aria-controls="nav-food" aria-selected="false">Food</button>
                        <button class="nav-link" id="nav-alcohol-tab" data-bs-toggle="tab" data-bs-target="#nav-alcohol" role="tab" aria-controls="nav-alcohol" aria-selected="false">Alcohol</button>
                        <button class="nav-link" id="nav-coldrink-tab" data-bs-toggle="tab" data-bs-target="#nav-coldrink" role="tab" aria-controls="nav-coldrink" aria-selected="false">Cold Drinks</button>
                        <button class="nav-link" id="nav-hotdrink-tab" data-bs-toggle="tab" data-bs-target="#nav-hotdrink" role="tab" aria-controls="nav-hotdrink" aria-selected="false">Hot Drinks</button>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-allitems" role="tabpanel">
                            <all-items v-on:sendingproducts="reciveDataProducts"></all-items>
                        </div>
                        <div class="tab-pane fade" id="nav-food" role="tabpanel">
                            <food-items v-on:sendingproducts="reciveDataProducts"></food-items>
                        </div>
                        <div class="tab-pane fade" id="nav-alcohol" role="tabpanel">
                            <alcohol-items v-on:sendingproducts="reciveDataProducts"></alcohol-items>
                        </div>
                        <div class="tab-pane fade" id="nav-coldrink" role="tabpanel">
                            <cold-drinks v-on:sendingproducts="reciveDataProducts"></cold-drinks>
                        </div>
                        <div class="tab-pane fade" id="nav-hotdrink" role="tabpanel">
                            <hot-drinks v-on:sendingproducts="reciveDataProducts"></hot-drinks>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="rs-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="my-2">Current Order</h3>
                        </div>
                        <div class="col-md-6" align="right">
                            <button class="clear-order" @click="addedProducts = []">Clear All</button>
                            <button class="config-order">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                                    <circle cx="12" cy="12" r="3" />
                                  </svg>
                            </button>
                        </div>
                    </div>
                    <div class="order-products-content">
                        <div v-if="addedProducts.length < 1">
                            <div class="mt-5 mb-5 pt-5 pb-5 text-center text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart-plus" width="150" height="150" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <circle cx="6" cy="19" r="2" />
                                    <circle cx="17" cy="19" r="2" />
                                    <path d="M17 17h-11v-14h-2" />
                                    <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
                                    <path d="M15 6h6m-3 -3v6" />
                                  </svg>
                                  <h5 class="mt-3">¡Cesta Vacía!</h5>
                                  <h6>No has agregado aún ningún producto</h6>
                            </div>
                        </div>
                        <div v-else>
                            <div class="order-table">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr v-for="(prod, index) in addedProducts">
                                            <td class="align-middle" width="10%">
                                                <img :src="prod.dir" class="table-prod-img">
                                            </td>
                                            <td class="align-middle" width="28%">
                                                <h6 class="mb-0 font-weight-bold" v-text="prod.description"></h6>
                                            </td>
                                            <td class="align-middle" align="center">
                                                <button :class="(prod.cant == 1) ? 'add-del-prod-btn trash' : 'add-del-prod-btn'" @click="(prod.cant > 1) ? addOrDelete('rest', prod) : addOrDelete('delete', prod, index)">
                                                    <div v-if="prod.cant == 1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                            <line x1="4" y1="7" x2="20" y2="7" />
                                                            <line x1="10" y1="11" x2="10" y2="17" />
                                                            <line x1="14" y1="11" x2="14" y2="17" />
                                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                                        </svg>
                                                    </div>
                                                    <div v-else>
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#242424" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                            <line x1="5" y1="12" x2="19" y2="12" />
                                                        </svg>
                                                    </div>
                                                </button>
                                                <b class="cant-text" v-text="prod.cant"></b>
                                                <button class="add-del-prod-btn" @click="addOrDelete('add', prod)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#242424" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                        <line x1="12" y1="5" x2="12" y2="19" />
                                                        <line x1="5" y1="12" x2="19" y2="12" />
                                                    </svg>
                                                </button>
                                            </td>
                                            <td class="align-middle text-center">
                                                <h5 class="font-weight-bold mb-0 table-product-price" v-text="'$' + (prod.price * prod.cant)"></h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="order-payment-info">
                                <div class="card-taxes">
                                    <table class="table table-borderless table-sm">
                                        <tr>
                                            <td>Subtotal</td>
                                            <th class="text-end"> <span v-text="'$' + totalPrice"></span> </th>
                                        </tr>
                                        <tr>
                                            <td>Discounts</td>
                                            <th class="text-end"> <span v-text="'$0'"></span> </th>
                                        </tr>
                                        <tr>
                                            <td>Sales Tax</td>
                                            <th class="text-end"> <span v-text="'$0'"></span> </th>
                                        </tr>
                                    </table>
                                    <hr>
                                    <table class="table table-borderless table-sm">
                                        <tr>
                                            <td>Total</td>
                                            <th class="text-end"> <h5 class="mb-0 font-weight-bold" v-text="(totalPrice > 0) ? '$' + totalPrice : $0"></h5> </th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="card-cashless-credit mt-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="mb-0">CASHLESS CREDIT</h6>
                                            <label class="mb-0 cashless-credit-payment" v-text="'$' + totalPrice"></label>
                                            <label class="small text-muted mt-0">Avaliable</label>
                                        </div>
                                        <div class="col-md-6" align="right">
                                            <button class="payment-cancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <button class="mt-4 payment-order-button">
                                    <span>Pay With Cashless Credit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="all-items-template">
        <div class="card-product-content">
            <div class="row">
                <div class="col-md-4" v-for="product in productList">
                    <div class="product-card">
                        <div class="product-description" v-text="product.description"></div>
                        <div class="product-type" v-text="product.type"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-price" v-text="'$' + product.price"></div>
                                <button class="add-product-button hovered" @click="sendProductAiData(product)">Agregar</button>
                            </div>
                            <div class="col-md-6" align="right">
                                <img class="product-image" :src="product.dir"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="food-items-template">
        <div class="card-product-content">
            <div class="row">
                <div class="col-md-4" v-for="product in productList">
                    <div class="product-card">
                        <div class="product-description" v-text="product.description"></div>
                        <div class="product-type" v-text="product.type"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-price" v-text="'$' + product.price"></div>
                                <button class="add-product-button hovered" @click="sendProductAiData(product)">Agregar</button>
                            </div>
                            <div class="col-md-6" align="right">
                                <img class="product-image" :src="product.dir"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="alcohol-items-template">
        <div class="card-product-content">
            <div class="row">
                <div class="col-md-4" v-for="product in productList">
                    <div class="product-card">
                        <div class="product-description" v-text="product.description"></div>
                        <div class="product-type" v-text="product.type"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-price" v-text="'$' + product.price"></div>
                                <button class="add-product-button hovered" @click="sendProductAiData(product)">Agregar</button>
                            </div>
                            <div class="col-md-6" align="right">
                                <img class="product-image" :src="product.dir"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="cold-drinks-template">
        <div class="card-product-content">
            <div class="row">
                <div class="col-md-4" v-for="product in productList">
                    <div class="product-card">
                        <div class="product-description" v-text="product.description"></div>
                        <div class="product-type" v-text="product.type"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-price" v-text="'$' + product.price"></div>
                                <button class="add-product-button hovered" @click="sendProductAiData(product)">Agregar</button>
                            </div>
                            <div class="col-md-6" align="right">
                                <img class="product-image" :src="product.dir"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="hot-drinks-template">
        <div class="card-product-content">
            <div class="row">
                <div class="col-md-4" v-for="product in productList">
                    <div class="product-card">
                        <div class="product-description" v-text="product.description"></div>
                        <div class="product-type" v-text="product.type"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-price" v-text="'$' + product.price"></div>
                                <button class="add-product-button hovered" @click="sendProductAiData(product)">Agregar</button>
                            </div>
                            <div class="col-md-6" align="right">
                                <img class="product-image" :src="product.dir"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>